.root {
    -fx-background-image: url('../images/background.jpg');
    -fx-background-size: contain;
    -fx-background-position: center;
}

#welcomeMessageLabel{
 -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.tab-pane {
    -fx-background-color: transparent;
}

.menu-bar{
    -fx-border-color: rgba(0,0,0,0.314);
}

.tab-pane>*.tab-header-area>*.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab
{
    -fx-background-color: linear-gradient(to bottom, repeat, #CCCCCC , #808080 );
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER-LEFT;
    -fx-text-fill: black;
}


