.root {
    /*-fx-background-color: rgb(221,221,221);*/
    -fx-background-image: url('../images/background.PNG');
    -fx-background-size: cover;
}

.tab-pane {
    -fx-background-color: transparent;
}

.menu-bar{
    -fx-border-color: rgba(0,0,0,0.314);
}

.tab-pane>*.tab-header-area>*.tab-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


